.side-bar
  .side-header
    .side-box
      .side-user
        = current_user.name
      .side-icons
        .side-icon-edit
        = link_to new_group_path do
          =icon("far","edit", class: "icon")
        .side-icon-cog
        = link_to edit_user_path(current_user) do
          =icon("fa","cog",class: "icon")
  .side-group
    .groups-list
      - current_user.groups.each do |group|
        .groups-list-top
          = link_to group_messages_path(group) do
            .groups-list-center
              =group.name
            .groups-list-bottom