.side-bar
  .side-header
    .side-box
      .side-user
        user
      .side-icons
        .side-icon-edit
        = link_to "#", class:"icon" do
          =icon("far","edit")
        .side-icon-cog
        = link_to "#", class:"icon" do
          =icon("fa","cog")
  .side-group
    .groups-list
      .groups-list-top
        .groups-list-center
          techcamp
        .groups-list-bottom
          まだメッセージがありません。