* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;

  .side-bar {
    width: 300px;
    
    .side-header {
      height: 100px;
      background-color: #253141;
      display: flex;
      align-items: center;
      justify-content: center;

      .side-box{
        height: 20px;
        width: 260px;
        color: #ffffff;
        font-size: 16px;
        background: #253141;

        .side-user{
          line-height: normal;
          float: left;
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: center;
          font-weight: bold;
        }

        .side-icons{
          float: right;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60px;
          background-color:#253141;

          .side-icon-edit{
            width: 60px;
          }
              .far{
                color: #ffffff;
              }
        
          .side-icon-cog{
            float: right;
            margin-left: 5px;
          }

            .fa{
              color: #ffffff;
            }
        }
      }
    }

    .side-group {
      height: calc(100vh - 100px);
      background-color:#2f3e51;
      padding: 20px 20px 0px;
      .groups-list{
        height: 91px;
        background-color: #2f3e51;
        padding: 0px 20px;
        padding-top: 20px;
        
        &-top{
          padding-bottom: 15px;;
        }
        &-center{
          height: 15px;
          background-color: #2f3e51;
          margin-bottom: 5px;
          font-size: 15px;
          font-weight: bold;
          color: #ffffff;
        }
        &-bottom{
          height: 11px;
          background-color: #2f3e51;
          font-size: 11px;
          font-weight: bold;
          color: #ffffff;
        }
      }
    }
  }

  .chat-main{
    width: calc(100vw - 300px);
    height: 100vh;

    .groups-info{
      height: 100px;
      background-color: #ffffff;

      .groups-user{
        background-color: #ffffff;
        padding-top: 35px;
        margin-left: 40px;
        justify-content: space-between;
        display: flex;
        
        .groups-user-box{
          background-color:#ffffff;

          .groups-user-top{
            background-color: #ffffff;
            font-size: 20px;
            color: #333333;
          }

          .groups-user-bottom{
            background-color: #ffffff;
            padding-top: 15px;
            font-size: 12px;
            color: #999999;
          }
        }
        
        .groups-user-edit{
          height: 40px;
          width: 72px;
          background-color: #ffffff;
          font-size: 16px;
          color: #38aef0;
          margin-right: 40px;
          text-align: center;
          line-height: 40px;
          border: solid 1px #38aef0;
       }
      }
    }

    .messages {
      height: calc(100vh - 190px);
      overflow: scroll;
    }

    .message{
      background-color:#fafafa;

      .upper-message{
        display: flex;
        justify-self: start;
        margin-left: 40px;
        box-sizing: border-box;

        .upper-message__user-name{
          padding-top: 35px;
          background-color: #fafafa;
          font-size: 16px;
          font-weight: bold;
          color: black;
        }
        .upper-message__date{
          padding-top: 35px;
          margin-left: 5px;
          background-color: #fafafa;
          font-size: 12px;
          color: black;
        }
      }
      .lower-message{

          margin-left: 40px;
          padding-top: 12px;
          background-color: #fafafa;
          font-size: 14px;
          color: #434A54;

        .lower-message__image{
          font-size: 14px;
          color: #434A54;
          width: calc(100vw- 300px);
          border: 0px;
        }
      }
    }
    &__form {
      height: 90px;
      background-color: #d2d2d2;
      display: flex;
      padding: 20px;
      .new_message{
        display: flex;
        width: 100%;

        .chat-main__form__table {
          height: 50px;
          width: 100%;
          background-color: #ffffff;
          font-size: 15px;
          line-height: 50px;
          color: #d2d2d2;
          position: relative;
          display: flex;
          align-items: center;

          .form__message{
            width: 100%;
            height: 100%;
            padding-left: 5px;
          }
          .choose-image {
            position: absolute;
            right: 15px;
            color: #253141;
            font-size: 20px;
            display: inline-block;

            .hidden {
              display: none;
            }
          }
        }
        .form__submit {
          height: 50px;
          width: 100px;
          font-size: 20px;
          text-align: center;
          line-height: 50px;
          color: white;
          background-color: #38aef0;
          margin-right: 15px;
          margin-left: 15px;
        }
      }
    }
  }
}